@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

:root {
  --theme-color: #d51243;
  --text-primary-color: #222222;
  --text-secondary-color: #4a5568;
  --background-color: #f4f4f4;

}

*{
    padding: 0;
    margin: 0 ;
  }

  body{
    font-family: 'Poppins', sans-serif;
  }

.image1{
    width: 100%;
    overflow: hidden;
    border-top-right-radius: 40px;
    border-bottom-left-radius: 40px;

}
.image1 img{
    width: 100%;
    border-top-right-radius: 40px;
    border-bottom-left-radius: 40px;
    aspect-ratio: 10/14;
    transition: all .5s ease;
}
.image1:hover img{
    scale: 1.1;
}
.image2{
    margin-top: 30px;
    width: 100%;
    overflow: hidden;
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
}
.image2 img{
    width: 100%;
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
    aspect-ratio: 10/14;
    transition: all ease .5s;
}
.image2:hover img{
    scale: 1.1;
}

.about-right .about-desc{
line-height: 30px;
}

/* start here for swiper slider  */
.swiper {
    width: 100%;
    height: 100%;
  }

    .swiper-slide {
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 15px;
    }
    .swiper-slide .testimonial-desc{
        color: var(--text-secondary-color);
        margin-bottom: 20px;
    }
    .swiper-slide .testimonial-desc p{
        line-height: 25px;
        text-align: justify;

    }
    .swiper-slide .profile-box h5{
        margin: 0;
        color: var(--theme-color);
        font-weight: 600;
        margin-bottom: 5px;
    }
    .swiper-slide .profile-box p{
        margin: 0;
        color: var(--text-secondary-color);
    }
    .swiper-slide .profile-img{
        width: 70px;
    }
    .swiper-slide .profile-img img{
        width: 100%;
        border-radius: 10px;
    }

     .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom{   
        top: 92% !important;
    }
    .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    }
  /* endx here for swiper slider  */
