@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

:root {
   --theme-color: #d51243;
   --text-primary-color: #222222;
   --text-secondary-color: #4a5568;
   --background-color: #f4f4f4;

}

*{
    padding: 0;
    margin: 0 ;
  }

  body{
    font-family: 'Poppins', sans-serif;
  }


  .contact-icon{
    width: 32px;
    height: 32px;
    background-color: var(--theme-color);
    border-radius: 5px;
    position: absolute;
    margin-left: -25px;
    margin-top: 20px;
  }
  .contact-desc{
    padding: 12px 10px 12px 30px ;
    & p{
      font-size: 13px;
    }
  }
  .get-in-touch::after{
    content: "";
    height: 2px;
    width: 80px;
    background-color: var(--theme-color);
    display: block;
  }

  .contact-main label, ::placeholder {
    font-size: 13px;
  }